@tailwind base;
@tailwind components;
@tailwind utilities;

.width-container {
  @apply max-w-container mx-auto;
}

.three-dot {
  @apply overflow-hidden overflow-ellipsis whitespace-nowrap;
}

.input-example-0 {
  @apply shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight;
}

.disable-type-0 {
  @apply disabled:text-gray-300 disabled:hover:cursor-not-allowed;
}

/* skeleton */

.skeleton {
  /* border-radius : 1rem; */
  --tw-bg-opacity: 1;
  --b1: 100% 0 0;
  --b3: 92.4169% 0.00108 197.137559;
  background-color: oklch(var(--b3) / var(--tw-bg-opacity));
  will-change: background-position;
  animation: skeleton 2s ease-in-out infinite;
  background-image: linear-gradient(
    105deg,
    transparent 0%,
    transparent 40%,
    oklch(var(--b1) / 1) 50%,
    transparent 60%,
    transparent 100%
  );
  background-size: 200% auto;
  background-repeat: no-repeat;
  background-position-x: -50%;

  @apply shadow-md;
}

.skeleton-text {
  @apply skeleton;
  @apply text-transparent h-[1.5rem] my-2;
}

@keyframes skeleton {
  0% {
    background-position: 150%;
  }
  100% {
    background-position: -50%;
  }
}
